<div class="row">
  <div class="col-12">
    <div class="card mb-4 shadow-sm">
      <div class="card-header pb-0 bg-primary text-white">
        <h5 class="mb-0">KYC Module (Document Authentication)</h5>
      </div>

      <div class="card-body">
        <!-- Navigation Tabs for Queries and Reports -->
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link" [ngClass]="{'active': selectedTab === 'queries'}" (click)="selectedTab = 'queries'">Individual Queries</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [ngClass]="{'active': selectedTab === 'reports'}" (click)="selectedTab = 'reports'">Reports</a>
          </li>
        </ul>

        <!-- Individual Queries Section -->
        <div *ngIf="selectedTab === 'queries'" class="mt-4">
          <h6 class="text-secondary">Query Information</h6>
          <div class="mb-3">
            <label for="operationSelect" class="form-label">Select Operation</label>
            <select id="operationSelect" class="form-select" [(ngModel)]="selectedOperation">
              <option value="IPRS">IPRS</option>
              <option value="NTSA">NTSA</option>
              <option value="KRA">KRA</option>
              <option value="Q4">DMVIC</option>
              <option value="Q5">Document Reader (OCR)</option>
            </select>
          </div>
          <div *ngIf="selectedOperation === 'IPRS' || selectedOperation === 'KRA'" class="mb-3">
            <div class="mt-2">
              <label for="documentTypeSelect" class="form-label">Select Document Type</label>
              <select id="documentTypeSelect" class="form-select" [(ngModel)]="selectedDocumentType">
                <option value="NATIONAL_ID">Kenyan ID Number</option>
                <option value="PASSPORT">Passport</option>
                <option value="ALIEN_ID">ALIEN ID</option>
              </select>
            </div>
          </div>
          <!-- Dynamic Fields Based on Operation Selection -->
          <div *ngIf="(selectedDocumentType === 'NATIONAL_ID') && (selectedOperation === 'IPRS' || selectedOperation === 'KRA')" class="mb-3">
            <label for="idNumber" class="form-label">ID Card Number</label>
            <input type="text" id="idNumber" [(ngModel)]="idNumber" class="form-control" placeholder="Enter ID Number" />
          </div>
          <div *ngIf="(selectedDocumentType === 'PASSPORT') && (selectedOperation === 'IPRS' || selectedOperation === 'KRA')" class="mb-3">
            <label for="idNumber" class="form-label">Passport Number</label>
            <input type="text" id="idNumber" [(ngModel)]="idNumber" class="form-control" placeholder="Enter Passport Number" />
          </div>
          <div *ngIf="(selectedDocumentType === 'ALIEN_ID') && (selectedOperation === 'IPRS' || selectedOperation === 'KRA')" class="mb-3">
            <label for="idNumber" class="form-label">Alien Card Number</label>
            <input type="text" id="idNumber" [(ngModel)]="idNumber" class="form-control" placeholder="Enter Alien ID Number" />
          </div>

          <div *ngIf="selectedOperation === 'NTSA'" class="mb-3">
            <label for="vehicleReg" class="form-label">Vehicle Registration Number</label>
            <input type="text" id="vehicleReg" [(ngModel)]="vehicleReg" class="form-control" placeholder="Enter Vehicle Registration Number" />
          </div>

          <div *ngIf="selectedOperation === 'Q3'" class="mb-3">
            <label for="taxId" class="form-label">Tax ID</label>
            <input type="text" id="taxId" [(ngModel)]="taxId" class="form-control" placeholder="Enter Tax ID" />
          </div>

          <div *ngIf="selectedOperation === 'Q4'" class="mb-3">
            <label for="insurancePolicy" class="form-label">Insurance Policy Number</label>
            <input type="text" id="insurancePolicy" [(ngModel)]="insurancePolicy" class="form-control" placeholder="Enter Insurance Policy Number" />
          </div>

          <!-- OCR Section with Document Type Dropdown -->
          <div *ngIf="selectedOperation === 'Q5'" class="mb-3">
            <div class="mt-2">
              <label for="documentTypeSelect" class="form-label">Select Document Type</label>
              <select id="documentTypeSelect" class="form-select" [(ngModel)]="selectedDocumentType">
                <option value="PASSPORT">Passport</option>
                <option value="NATIONAL_ID">ID Card</option>
                <option value="DRIVING_LICENCE">Driver's License</option>
                <option value="KRA_CERTIFICATE">KRA Certificate</option>
                <option value="LOGBOOK">LOGBOOK</option>
                <option value="ALIEN_ID">ALIEN ID</option>
              </select>
            </div>
            <label for="fileUpload" class="form-label">Upload Document (OCR)</label>
            <input type="file" id="fileUpload" (change)="onFileSelected($event)" class="form-control" />
            <button class="btn btn-success mt-3" (click)="onUpload()">Upload</button>
          </div>

          <button class="btn btn-primary mt-3" (click)="onQuery()">Submit Query</button>

          <!-- Query Results -->
          <div *ngIf="responseData" class="mt-4">
            <h6 class="text-secondary">Query Results</h6>
            <app-kyc-result [resultData]="responseData" resultType="selectedOperation"></app-kyc-result>
            <!-- <pre>{{ responseData | json }}</pre> -->
            <button class="btn btn-secondary mt-2" (click)="downloadPDF()">Download PDF</button>
          </div>
        </div>
<!-- Reports Section -->
<div *ngIf="selectedTab === 'reports'" class="mt-4">
  <h6 class="text-secondary">Generate Reports by Date</h6>
  <div class="d-flex mb-3">
    <input
      type="date"
      [(ngModel)]="startDate"
      class="form-control me-2"
      placeholder="Start Date"
    />
    <input
      type="date"
      [(ngModel)]="endDate"
      class="form-control"
      placeholder="End Date"
    />
  </div>
  <button class="btn btn-primary" (click)="onSearch()">Generate Report</button>

  <!-- Report Results -->
  <div *ngIf="paginatedData.length" class="mt-4">
    <h6 class="text-secondary">Report Results</h6>

    <!-- Paginated Table -->
    <div class="table-responsive">
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th>#</th>
            <th>IP Address</th>
            <th>Date Created</th>
            <th>Unique Reference</th>
            <th>Sources</th>
            <th>Status</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of paginatedData; let i = index">
            <td>{{ i + 1 + (currentPage - 1) * itemsPerPage }}</td>
            <td>{{ item.ipAddress }}</td>
            <td>{{ item.dateTimeCreated | date: 'short' }}</td>
            <td>{{ item.uniqueReference }}</td>
            <td>{{ item.sources }}</td>
            <td>{{ item.status }}</td>
            <td>
              <button
                class="btn btn-link"
                (click)="openModal(item)"
              >
                View Result
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- Pagination Controls -->
    <nav>
      <ul class="pagination">
        <li
          class="page-item"
          [class.disabled]="currentPage === 1"
        ></li>
        <li
          *ngFor="let page of [1, 2, 4, 5]"
          class="page-item"
          [class.active]="page === currentPage"
        ></li>
        <li
          class="page-item"
          [class.disabled]="currentPage === totalPages"
        ></li>
      </ul>
    </nav>
  </div>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="resultModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="resultModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="resultModalLabel">Result Details</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <app-kyc-result
          *ngIf="selectedResult"
          [resultData]="selectedResult"
          resultType="selectedOperation"
        ></app-kyc-result>
      </div>
    </div>
  </div>
</div>


        
      </div>
    </div>
  </div>
</div>
