<div class="auth-container">
    <div class="card auth-card">
      <div class="card-body">
    <h4 class="card-title text-center text-primary fw-bold mb-4">KYC Client Portal</h4>
      <h5 class="card-title text-center text-secondary mb-4">User Authentication</h5>
  
        <!-- Step 1: Username & Password -->
        <form *ngIf="!otpStep" (ngSubmit)="onSubmitCredentials()">
          <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input
              id="username"
              type="text"
              class="form-control"
              [(ngModel)]="credentials.userName"
              name="username"
              required
            />
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input
              id="password"
              type="password"
              class="form-control"
              [(ngModel)]="credentials.password"
              name="password"
              required
            />
          </div>
          <button type="submit" class="btn btn-primary w-100">Submit</button>
        </form>
  
        <!-- Step 2: OTP -->
        <form *ngIf="otpStep" (ngSubmit)="onSubmitOtp()">
          <div class="mb-3">
            <label for="otp" class="form-label">Enter OTP</label>
            <input
              id="otp"
              type="text"
              class="form-control"
              [(ngModel)]="otp"
              name="otp"
              required
            />
          </div>
          <button type="submit" class="btn btn-success w-100">Authenticate</button>
        </form>
  
        <!-- Error Message -->
        <div *ngIf="errorMessage" class="alert alert-danger mt-3">
          {{ errorMessage }}
        </div>
      </div>
    </div>
  </div>
  